.header {
    background-color: #7b3229;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100vh;
}

.main {
    width: min(70%, 600px);
    margin: 20px auto;
}

.main .h2 {
    text-align: center;
}

.main label {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.main input, .main select {
    margin: 10px 0;
    border-radius: 22px;
    border: none;
    padding: 15px;
    color: #793027;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease;
}

.main input:focus, .main select:focus{
    outline: none;
    transform: scale(1.05);
}

.main button {
    width: 250px;
    margin: 20px auto;
    border-radius: 30px;
    padding: 20px;
    background-color: #ba1b08;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.main button:hover{
    cursor: pointer;
}

.main button:focus{
    outline: none;
}

.main button:disabled{
    cursor: default;
}

.main form {
    margin: auto;
    display: flex;
    flex-direction: column;   
}

.radioGroup input {
    margin-left: 10px;
}

.phone label {
    margin-right: 12px;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.modal .content {
    background: white;
    width: min(90%, 400px);
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: max(-47%, -200px);
    margin-top: -125px;
    border-radius: 20px;
    padding: 10px;
    color:#ba1b08;
    text-align: center;
}

/* For Tablets */
@media only screen and (max-width: 1024px) {
    .main {
        width: 70%;
    }
}

/* For Mobile Phones */
@media only screen and (max-width: 600px) {
    .main {
        width: 80%;
    }

    .main h2 {
        font-size: 20px;
    }

    .main button {
        font-size: 15px;
    }

    .header h1 {
        font-size: 24px;
    }

    .addCodesForm {
        width: 70%;
    }
}