<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify & Generate QR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="nav justify-content-center">
    <div class="card border-primary mb-3" style="max-width: 25rem;margin-top: 20px;">
        <div class="card-header">User Details</div>
        <div class="card-body text-primary">
            <form action="/" method="post">
                <input type="text" name="TC" placeholder="Enter the T.C Number" class="form-control"><br>
                <input type="text" name="FName" placeholder="enter the First Name" class="form-control"><br>
                <input type="text" name="SName" placeholder="Enter the Last Name" class="form-control"><br>
                <input type="text" name="DOB" placeholder="Enter Date of Birth (dd/mm/yyyy)" class="form-control"><br>
               <div class="text-center"> <input type="submit" value="Verify" class="btn"> </div> 
             </form>
        </div>
      </div>
    </div>
</body>
</html>