.header {
    margin-top: 4rem;
    background-color: #7b3229;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.main {
    width: 40%;
    margin: 20px auto;
}

.container button {
    width: 100%;
    margin: 20px auto;
    border-radius: 30px;
    padding: 20px;
    background-color: #ba1b08;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.container button:hover {
    cursor: pointer;
}

.container button:focus{
    outline: none;
}

.profile {
    text-align: center;
    background-color: white;
    border-radius: 30px;
    width: 100%;    
    color: #ba1b08;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 18px;
}

.profile span {
    color: #585858;
    padding-right: 10px;
}

.profile button {
    width: auto;
    padding: 10px;
}

/* For Tablets */
@media only screen and (max-width: 1024px) {
    .main {
        width: 70%;
    }
}

/* For Mobile Phones */
@media only screen and (max-width: 600px) {
    .main {
        width: 80%;
    }

    .main h2 {
        font-size: 20px;
    }

    .main button {
        font-size: 15px;
    }

    .header h1 {
        font-size: 24px;
    }

    .addCodesForm {
        width: 70%;
    }
}

