.main a, .main button {
    width: min(250px, 100%);
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    background-color: #ba1b08;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.main button:hover{
    cursor: pointer;
    background-color: #801105;
}

.main button:focus{
    outline: none;
}

a {
    width: fit-content;
}