.main h2 {
    text-align: center; 
    margin-bottom: 40px;
}

.main label {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.main input {
    margin: 10px 0;
    border-radius: 22px;
    border: none;
    padding: 15px;
    color: #793027;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease;
}

.main input:focus{
    outline: none;
    transform: scale(1.05);
}

.main button {
    width: 250px;
    margin: 20px auto;
    border-radius: 30px;
    padding: 20px;
    background-color: #ba1b08;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.main button:hover{
    cursor: pointer;
}

.main button:focus{
    outline: none;
}

.main button:disabled{
    cursor: default;
}

.container{
    display: flex; 
    flex-direction: column;
    width: 100%;
}

.header {
    margin-top: 4rem;
    background-color: #7b3229;
    text-align: center;
}

.main {
    display: flex; 
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
}

.ttlContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ttlContainer label, .ttlContainer input {
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.codesTable {
    width: min(800px, 100%);
    margin: auto;
}

.codesRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #ba1b08;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.codesRow .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy {
    font-size: 12px;
}

.copy:hover {
    cursor: pointer;
}

.alignCenter {
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .codesRow {
        display: block;
        text-align: center;
    }
}

/* For Tablets */
@media only screen and (max-width: 1024px) {
    .main {
        width: 70%;
    }
}

/* For Mobile Phones */
@media only screen and (max-width: 600px) {
    .main {
        width: 80%;
    }

    .main h2 {
        font-size: 20px;
    }

    .main button {
        font-size: 15px;
    }

    .header h1 {
        font-size: 24px;
    }

    .addCodesForm {
        width: 70%;
    }
}