.msg {
    margin-left: 10px;
}

.main h2 {
    text-align: center; 
    margin-bottom: 40px;
}

.container{
    display: flex; 
    flex-direction: column;
    width: 100%;
}

.header {
    margin-top: 4rem;
    background-color: #7b3229;
    text-align: center;
}

.main {
    display: flex; 
    flex-direction: column;
    width: 40%;
    margin: 20px auto;
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;;
}

.subHead {
    margin-bottom: 10px;
    font-weight: bold;
}

.main input {
    width: 200px;
    margin: 10px 0;
    border-radius: 22px;
    border: 1px solid #7b3229;
    padding: 15px;
    color: #793027;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease;
}

.main input:focus{
    outline: none;
    transform: scale(1.05);
}

.main button {
    width: min(100px, 100%);
    margin-left: 10px;
    border-radius: 30px;
    padding: 12px;
    background-color: #ba1b08;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.main button:hover{
    cursor: pointer;
}

.main button:focus{
    outline: none;
}

.main button:disabled{
    cursor: default;
}

.btn:focus-visible{
    outline: none;
}

@media only screen and (max-width: 920px) {
    .main {
        width: 90%;
    }

    .main h2 {
        font-size: 20px;
    }

    .main button {
        font-size: 15px;
    }

    .header h1 {
        font-size: 24px;
    }

    .profile table {
        width: 92%
    }
}

