.icon {
    position: relative;
    top: 2px;
    right: 8px;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 66px;
    background: #5a2720;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    z-index: 100;
    margin-right: 0;
}

.navMenu {
    margin-left: 1.5rem;
    float: left;
}

.navMenu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navMenu li {
    margin: 0 0.6rem;
}

.navMenu a {
    padding: 5px 8px;
}

.navbarUser {
    display: flex;
    width: fit-content;
    position: fixed;
    align-items: center;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
}

.navbarUser button,
.sidebar button {
    margin-left: 20px;
    margin-right: 10px;
    width: fit-content;
    border-radius: 30px;
    padding: 12px;
    background-color: #FFF;
    color: #662a22;
    font-weight: bold;
    font-size: 15px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.navbarUser button:hover,
.sidebar button:hover {
    cursor: pointer;
    background-color: #fcaba2;
}

.navbarUser button:focus,
.sidebar button:focus {
    outline: none;
}

.sidebarToggle {
    position: relative;
    top: 6px;
    display: none;
    margin-right: 10px;
    font-size: 28px;
}

.sidebar {
    background-color: #5a2720;
    width: 240px;
    height: 100vh;
    display: none;
    justify-content: flex-start;
    position: fixed;
    top: 4rem;
    left: -100%;
    transition: 850ms;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.sidebar li {
    margin: 30px 0;
}

.sidebar.active {
    left: 0;
    transition: 350ms;
}

.sidebar a {    
    padding: 10px 15px;
}

.sidebar a:active, 
.sidebar a.active {
    border-left: 5px solid #fcaba2;
    border-bottom: none;
}

a {
    text-decoration: none;
    color: #FFF;       
    padding: 8px;
}

a:hover {
    color: #fcaba2;
}

a:active, a.active {
    color: #fcaba2;
    border-bottom: 2px solid #fcaba2;
}

/* For Tablets */

@media only screen and (max-width: 1024px) {}

/* For Mobile Phones and Smaller Tablets*/
/* Sidebar enabled */

@media only screen and (max-width: 768px) {
    .navMenu {
        display: none;
    }
    .sidebarToggle {
        display: inline-block;
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .navbarUser button {
        display: none;
    }
    .sidebar button {
        width: 240px;
        height: 60px;
        border-radius: 0;
        margin: 0;
        font-size: 18px;
    }
}