.main h2 {
    text-align: center;
    margin-bottom: 20px;
}

.main label {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}

.main input {
    margin: 10px 0;
    border-radius: 22px;
    border: none;
    padding: 15px;
    color: #793027;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease;
}

.main input:focus, .main select:focus{
    outline: none;
    transform: scale(1.05);
}

.container button {
    width: 250px;
    margin: 20px auto;
    border-radius: 30px;
    padding: 20px;
    background-color: #ba1b08;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.container button:hover {
    cursor: pointer;
}

.container button:focus{
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    margin-top: 4rem;
    background-color: #7b3229;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 20px auto;
}

.addCodesForm {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;    
}

.addCodesForm input {
    background-color: #e9e9ea;
}

.container .addMoreBtn {
    width: 125px;
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 10px;
}

.codeEntry {
    display: flex;
    width: 100%;
}

.msg {
    margin: auto;
}

.qrContainer {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
}

.outdoors, .duration {
    align-self: center;
}

.duration select {
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    padding: 7px;
    color: #793027;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.2s ease;
}

/* For Tablets */
@media only screen and (max-width: 1024px) {
    .main {
        width: 90%;
    }
}

/* For Mobile Phones */
@media only screen and (max-width: 600px) {
    .main {
        width: 90%;
    }

    .main h2 {
        font-size: 20px;
    }

    .header h1 {
        font-size: 24px;
    }

    .addCodesForm {
        width: 70%;
    }
}